.Container {
  display: flex;
  justify-content: center;
  padding: 0;
  max-width: 1400px;
  padding-left: 20px;
  margin: 0 auto;
  background-color: aliceblue;
}
.notificationDetailContainer {
  padding: 20px;
  width: 900px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.notificationDetailContainer h1 {
  font-size: 22px;
  font-weight: bold;
  color: #223771;
  margin-bottom: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}

.notificationDetailContainer p {
  font-size: 14px;
  color: #292d31;
  line-height: 1.4;
  margin-bottom: 10px;
}

.notificationDetailContainer .notificationDate {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
  padding-left: 20px;
}

.notificationContent {
  font-size: 14px;
  color: #292d31;
  line-height: 1.4;
  text-align: justify;
  padding: 10px 20px;
}

.notificationContent img {
  max-width: 98%;
  height: auto;
  margin: 20px 10px;
  padding: 10px;
}

.notificationDetailContainer .backLink {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.notificationDetailContainer .backLink:hover {
  background-color: #0056b3;
}
.back {
  padding-left: 20px;
}
